body{
    font-family: 'Roboto',sans-serif;
    background-color: #232f34;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color: #232f34; */
}

/* body {
    background-color: #232f34;
    font-family: 'Josefin Sans', sans-serif;
} */

.navbar {
    /* position: fixed; */
    font-size: 18px;
    background-image: linear-gradient(260deg, #232f34 0%, #4a6572 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: #d5e1e8;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

/* Projects Start */
.project{
background-color: #232f34;
}
.project-container{
    background: #f9aa33;
    position: relative;
    overflow: hidden;
}
.donation{
    background:#f9aa33;
    color:black;
    padding:3px 3.5px;
    position: absolute;
    right:0;
    top:70%;
    transform:translateX(110%);
    transition: all .2s ease-in-out;
}
.donation:hover{
    color:black;
}
.project-container:hover .donation{
    transform:translateX(0%);
}
.outline{
    display: inline-block;
    vertical-align:middle;
    transform:perspective(1px)translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
}
.outline:before{
    content:'';
    position: absolute;
    border:#ca8a2a solid 4px;
    top: 4px;
    left:4px;
    right:4px;
    bottom:4px;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
}
.outline:hover:before,
.outline:focus:before,
.outline:active:before{
    opacity: 1;
}
.grow{
    display: inline-block;
    vertical-align: middle;
    transform:perspective(1px) translateZ(0);
    box-shadow: 0 0 10px;
    transition-duration: 0.3s;
    transition-property: box shadow,transform;
}
.grow:hover,
.grow:focus,
.grow:active{
    box-shadow: 0 10px 10px 5px #f9aa33;
    transform: scale(1.1);
}
/* Project Ends */





.flip-card {
    background-color: transparent;
    width: 220px;
    height: 170px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    /* padding: 3px; */
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #f9aa33;
    color: white;
    padding: 5px;
    transform: rotateY(180deg);
  }